<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>Abreve</string>
      <string>Amacron</string>
      <string>A</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>Alpha</string>
    </array>
    <key>public.kern1.A.alt</key>
    <array>
      <string>A.2</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
    </array>
    <key>public.kern1.M</key>
    <array>
      <string>M</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Otilde</string>
      <string>Q</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>otilde</string>
      <string>oe</string>
      <string>zero</string>
      <string>ae</string>
      <string>D</string>
      <string>o.2</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
    </array>
    <key>public.kern1.T</key>
    <array/>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>J</string>
      <string>j</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Upsilon</string>
      <string>Upsilondieresis</string>
      <string>Alphatonos</string>
      <string>Delta</string>
      <string>Lambda</string>
      <string>uni0394</string>
    </array>
    <key>public.kern1.V.alt</key>
    <array>
      <string>V.2</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aring</string>
      <string>atilde</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>l</string>
    </array>
    <key>public.kern1.p</key>
    <array>
      <string>p</string>
    </array>
    <key>public.kern1.punc_hi</key>
    <array>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotesingle</string>
      <string>degree</string>
    </array>
    <key>public.kern1.punc_low</key>
    <array>
      <string>comma</string>
      <string>ellipsis</string>
      <string>period</string>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
      <string>underscore</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
    </array>
    <key>public.kern1.seven</key>
    <array>
      <string>seven</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
      <string>w</string>
    </array>
    <key>public.kern2.@A</key>
    <array>
      <string>A</string>
      <string>Aacute</string>
      <string>Abreve</string>
      <string>Acircumflex</string>
      <string>Adieresis</string>
      <string>Agrave</string>
      <string>Amacron</string>
      <string>Aring</string>
      <string>Atilde</string>
      <string>Alpha</string>
    </array>
    <key>public.kern2.@T</key>
    <array/>
    <key>public.kern2.@V</key>
    <array/>
    <key>public.kern2.A</key>
    <array>
      <string>Alphatonos</string>
      <string>Delta</string>
      <string>Lambda</string>
      <string>uni0394</string>
    </array>
    <key>public.kern2.A.alt</key>
    <array>
      <string>A.2</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
    </array>
    <key>public.kern2.M</key>
    <array>
      <string>M</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>O</string>
      <string>Oacute</string>
      <string>Obreve</string>
      <string>Ocircumflex</string>
      <string>Odieresis</string>
      <string>Ograve</string>
      <string>Ohungarumlaut</string>
      <string>Omacron</string>
      <string>Otilde</string>
      <string>Q</string>
      <string>c</string>
      <string>cacute</string>
      <string>ccaron</string>
      <string>ccedilla</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>e</string>
      <string>eacute</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>edotaccent</string>
      <string>egrave</string>
      <string>emacron</string>
      <string>o</string>
      <string>oacute</string>
      <string>obreve</string>
      <string>ocircumflex</string>
      <string>odieresis</string>
      <string>ograve</string>
      <string>ohungarumlaut</string>
      <string>omacron</string>
      <string>otilde</string>
      <string>oe</string>
      <string>zero</string>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccaron</string>
      <string>Ccedilla</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>G</string>
      <string>OE</string>
      <string>o.2</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Uacute</string>
      <string>Ubreve</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Ugrave</string>
      <string>Uhungarumlaut</string>
      <string>Umacron</string>
      <string>Uring</string>
      <string>Utilde</string>
      <string>t</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Upsilon</string>
      <string>Upsilondieresis</string>
    </array>
    <key>public.kern2.V.alt</key>
    <array>
      <string>V.2</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>aacute</string>
      <string>abreve</string>
      <string>acircumflex</string>
      <string>adieresis</string>
      <string>agrave</string>
      <string>amacron</string>
      <string>aring</string>
      <string>atilde</string>
    </array>
    <key>public.kern2.four</key>
    <array>
      <string>four</string>
    </array>
    <key>public.kern2.j</key>
    <array>
      <string>j</string>
    </array>
    <key>public.kern2.punc_hi</key>
    <array>
      <string>degree</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>quoteleft</string>
      <string>quoteright</string>
      <string>quotesingle</string>
    </array>
    <key>public.kern2.punct_low</key>
    <array>
      <string>comma</string>
      <string>period</string>
      <string>ellipsis</string>
      <string>quotedblbase</string>
      <string>quotesinglbase</string>
      <string>underscore</string>
    </array>
  </dict>
</plist>
