<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.2</key>
    <string>A_.2.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>FAM</key>
    <string>F_A_M_.glif</string>
    <key>Fam_ligne</key>
    <string>F_am_ligne.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Gamma</key>
    <string>G_amma.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Omegatonos</key>
    <string>O_megatonos.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Pi</key>
    <string>P_i.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>Sigma</key>
    <string>S_igma.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Theta</key>
    <string>T_heta.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>V.2</key>
    <string>V_.2.glif</string>
    <key>VTF</key>
    <string>V_T_F_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>WWW</key>
    <string>W_W_W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>alpha</key>
    <string>alpha.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>beta</key>
    <string>beta.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>bullet.006</key>
    <string>bullet.006.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>checkbox</key>
    <string>checkbox.glif</string>
    <key>circlehalfleftblack</key>
    <string>circlehalfleftblack.glif</string>
    <key>circlewhite</key>
    <string>circlewhite.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>delta</key>
    <string>delta.glif</string>
    <key>delta.ss04</key>
    <string>delta.ss04.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dngb:asteriskballoonfour</key>
    <string>dngb_asteriskballoonfour.glif</string>
    <key>dngb:asteriskclubfour</key>
    <string>dngb_asteriskclubfour.glif</string>
    <key>dngb:starcentreblackwhite</key>
    <string>dngb_starcentreblackwhite.glif</string>
    <key>dngb:starpinwheel</key>
    <string>dngb_starpinwheel.glif</string>
    <key>dngb:starpointedblackfour</key>
    <string>dngb_starpointedblackfour.glif</string>
    <key>dngb:starpointedwhitefour</key>
    <string>dngb_starpointedwhitefour.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>dotlessj</key>
    <string>dotlessj.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>europe13</key>
    <string>europe13.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>fisheye</key>
    <string>fisheye.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>gamma</key>
    <string>gamma.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>iota</key>
    <string>iota.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>kappa</key>
    <string>kappa.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>melange</key>
    <string>melange.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.2</key>
    <string>o.2.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>omega</key>
    <string>omega.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>rho</key>
    <string>rho.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>shadowblackcircle</key>
    <string>shadowblackcircle.glif</string>
    <key>sigma</key>
    <string>sigma.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>starblack</key>
    <string>starblack.glif</string>
    <key>starwhite</key>
    <string>starwhite.glif</string>
    <key>sunrayswhite</key>
    <string>sunrayswhite.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>tau</key>
    <string>tau.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>uni03BC</key>
    <string>uni03B_C_.glif</string>
    <key>uni0488</key>
    <string>uni0488.glif</string>
    <key>uni0489</key>
    <string>uni0489.glif</string>
    <key>uniA66E</key>
    <string>uniA_66E_.glif</string>
    <key>uniA672</key>
    <string>uniA_672.glif</string>
    <key>uniA69A</key>
    <string>uniA_69A_.glif</string>
    <key>upsilon</key>
    <string>upsilon.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>xi</key>
    <string>xi.glif</string>
    <key>xi.ss04</key>
    <string>xi.ss04.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zeta</key>
    <string>zeta.glif</string>
    <key>zeta.ss04</key>
    <string>zeta.ss04.glif</string>
  </dict>
</plist>
