$salmon: #fe88889c;
.Form {
  background-color: white;
  color: black;
  h2 {
    color: black;
    font-family: monospace;
    font-weight: 400;
    font-size: x-large;
  }
  border-radius: 5%;

  .submit-button {
    padding: 10px 10px;
    width: 90%;
    border-radius: 10px;
    background-color: white;
    transition: ease-in 0.2s;
    border-width: 1px;
    font-family: monospace;
    font-weight: 400;
    font-family: "balto", sans-serif;
    background-color: white;
    font-size: large;

    &:hover {
      border-width: 5px;
      border-color: #060d37;
      border-style: double;
    }
  }
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  gap: 5%;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

input,
textarea {
  width: 90%;
  padding: 10px 5px;
  border-radius: 5px;
  border: 0.5px solid grey;
  font-size: medium;
  font-family: balto, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

input::placeholder {
  font-style: italic;
}

textarea::placeholder {
  font-family: balto, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-style: italic;
}

.group {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
  width: 90%;
  padding-top: 10px;
  padding-left: 5px;
  padding-bottom: 10px;
  font-family: "Courier New", Courier, monospace;
}

.date-label {
  text-align: start;
  padding-left: 5%;
}

.form-button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;

  button {
    // padding: 1vmin 4vmin;
    background-color: white;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    padding: 0.7em 1.7em;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 100%;
    transition: ease-in-out 0.2s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
      border-width: 5px;
      border-color: #060d37;
      border-style: double;
    }
  }
}

.form-header-container {
  display: flex;
  justify-content: center;
  position: relative;

  button {
    position: absolute;
    left: 100%;
  }
}

@media screen and (max-width: 450px) {
  .form > button {
    color: black;
  }
  .submit-button {
    border: 0.8px solid black;
    color: black;

    :active {
      border: 1px double black;
      color: black;
    }
  }
}
