<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Sigma</key>
    <string>S_igma.glif</string>
    <key>epsilon</key>
    <string>epsilon.glif</string>
    <key>kappa</key>
    <string>kappa.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>rho</key>
    <string>rho.glif</string>
    <key>sigma</key>
    <string>sigma.glif</string>
    <key>uni03BC</key>
    <string>uni03B_C_.glif</string>
    <key>upsilon</key>
    <string>upsilon.glif</string>
    <key>xi</key>
    <string>xi.glif</string>
    <key>zeta</key>
    <string>zeta.glif</string>
  </dict>
</plist>
