<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>com.typemytype.robofont.background.layerShowCoordinates</key>
    <false/>
    <key>com.typemytype.robofont.background.layerShowFill</key>
    <false/>
    <key>com.typemytype.robofont.background.layerShowPoints</key>
    <true/>
    <key>com.typemytype.robofont.background.layerShowStroke</key>
    <true/>
    <key>com.typemytype.robofont.background.layerStrokeColor</key>
    <array>
      <integer>0</integer>
      <real>0.8</real>
      <real>0.2</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.compileSettings.MacRomanFirst</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.compileSettings.autohint</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.compileSettings.checkOutlines</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.compileSettings.createDummyDSIG</key>
    <true/>
    <key>com.typemytype.robofont.compileSettings.decompose</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.compileSettings.generateFormat</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.compileSettings.path</key>
    <string>/Users/jjjlllnnn/ownCloud/Typo/Solide Mirage/Repository/fonts/SolideMirageEtroit.otf</string>
    <key>com.typemytype.robofont.compileSettings.releaseMode</key>
    <integer>1</integer>
    <key>com.typemytype.robofont.foreground.layerStrokeColor</key>
    <array>
      <real>0.5</real>
      <integer>0</integer>
      <real>0.5</real>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.guideline.magnetic.0m3vkHzf2G</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.6j5CsDCrWo</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.D3Ogr5tTxq</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.WkGcHpTbr5</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.dN5Vce2MbD</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.hqm93NHjOf</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.guideline.magnetic.oEvSCFCSQ1</key>
    <real>5.0</real>
    <key>com.typemytype.robofont.italicSlantOffset</key>
    <integer>0</integer>
    <key>com.typemytype.robofont.regular.layerStrokeColor</key>
    <array>
      <integer>1</integer>
      <real>0.75</real>
      <integer>0</integer>
      <real>0.7</real>
    </array>
    <key>com.typemytype.robofont.segmentType</key>
    <string>curve</string>
    <key>com.typemytype.robofont.shouldAddPointsInSplineConversion</key>
    <integer>1</integer>
    <key>com.typesupply.MetricsMachine4.groupColors</key>
    <dict>
      <key>@MMK_L_A</key>
      <array>
        <integer>1</integer>
        <integer>0</integer>
        <integer>0</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_L_A.alt</key>
      <array>
        <integer>1</integer>
        <real>0.5</real>
        <integer>0</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_L_F</key>
      <array>
        <integer>0</integer>
        <integer>0</integer>
        <integer>1</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_L_K</key>
      <array>
        <real>0.5</real>
        <integer>0</integer>
        <integer>1</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_L_L</key>
      <array>
        <integer>1</integer>
        <integer>1</integer>
        <integer>0</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_L_M</key>
      <array>
        <integer>0</integer>
        <integer>1</integer>
        <integer>0</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_L_O</key>
      <array>
        <integer>0</integer>
        <integer>1</integer>
        <integer>1</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_L_P</key>
      <array>
        <integer>1</integer>
        <integer>0</integer>
        <integer>1</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_L_T</key>
      <array>
        <integer>0</integer>
        <real>0.5</real>
        <integer>1</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_L_U</key>
      <array>
        <integer>0</integer>
        <integer>0</integer>
        <integer>1</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_L_V</key>
      <array>
        <real>0.5</real>
        <integer>0</integer>
        <integer>1</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_L_V.alt</key>
      <array>
        <integer>1</integer>
        <integer>0</integer>
        <integer>1</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_L_W</key>
      <array>
        <integer>1</integer>
        <integer>0</integer>
        <real>0.5</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_X</key>
      <array>
        <integer>1</integer>
        <integer>0</integer>
        <integer>0</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_L_a</key>
      <array>
        <integer>1</integer>
        <integer>0</integer>
        <real>0.5</real>
        <real>0.25</real>
      </array>
      <key>@MMK_L_f</key>
      <array>
        <integer>1</integer>
        <integer>0</integer>
        <integer>0</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_L_l</key>
      <array>
        <integer>1</integer>
        <real>0.5</real>
        <integer>0</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_L_p</key>
      <array>
        <integer>0</integer>
        <integer>1</integer>
        <integer>1</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_L_punc_low</key>
      <array>
        <integer>0</integer>
        <real>0.5</real>
        <integer>1</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_L_r</key>
      <array>
        <integer>1</integer>
        <integer>1</integer>
        <integer>0</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_L_seven</key>
      <array>
        <integer>1</integer>
        <real>0.5</real>
        <integer>0</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_L_v</key>
      <array>
        <integer>0</integer>
        <integer>1</integer>
        <integer>0</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_R_A</key>
      <array>
        <integer>1</integer>
        <integer>0</integer>
        <integer>0</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_R_A.alt</key>
      <array>
        <integer>1</integer>
        <real>0.5</real>
        <integer>0</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_R_J</key>
      <array>
        <integer>1</integer>
        <integer>1</integer>
        <integer>0</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_R_M</key>
      <array>
        <integer>0</integer>
        <integer>1</integer>
        <integer>0</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_R_O</key>
      <array>
        <integer>0</integer>
        <integer>1</integer>
        <integer>1</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_R_T</key>
      <array>
        <integer>0</integer>
        <real>0.5</real>
        <integer>1</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_R_U</key>
      <array>
        <integer>0</integer>
        <integer>0</integer>
        <integer>1</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_R_V</key>
      <array>
        <real>0.5</real>
        <integer>0</integer>
        <integer>1</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_R_V.alt</key>
      <array>
        <integer>1</integer>
        <integer>0</integer>
        <integer>1</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_R_W</key>
      <array>
        <integer>0</integer>
        <integer>1</integer>
        <integer>0</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_R_X</key>
      <array>
        <integer>0</integer>
        <integer>1</integer>
        <integer>1</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_R_a</key>
      <array>
        <integer>1</integer>
        <integer>1</integer>
        <integer>0</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_R_four</key>
      <array>
        <integer>1</integer>
        <real>0.5</real>
        <integer>0</integer>
        <real>0.25</real>
      </array>
      <key>@MMK_R_j</key>
      <array>
        <integer>1</integer>
        <integer>0</integer>
        <real>0.5</real>
        <real>0.25</real>
      </array>
      <key>@MMK_R_punct_low</key>
      <array>
        <integer>1</integer>
        <integer>0</integer>
        <integer>0</integer>
        <real>0.25</real>
      </array>
    </dict>
    <key>com.typesupply.defcon.sortDescriptor</key>
    <array>
      <dict>
        <key>ascending</key>
        <array>
          <string>.notdef</string>
          <string>.null</string>
          <string>CR</string>
          <string>thinspace</string>
          <string>space</string>
          <string>UC</string>
          <string>A</string>
          <string>Agrave</string>
          <string>Aacute</string>
          <string>Acircumflex</string>
          <string>Atilde</string>
          <string>Adieresis</string>
          <string>Abreve</string>
          <string>Amacron</string>
          <string>Aring</string>
          <string>B</string>
          <string>C</string>
          <string>Cacute</string>
          <string>Ccircumflex</string>
          <string>Ccedilla</string>
          <string>Ccaron</string>
          <string>Cdotaccent</string>
          <string>D</string>
          <string>E</string>
          <string>Egrave</string>
          <string>Eacute</string>
          <string>Ecircumflex</string>
          <string>Edieresis</string>
          <string>Ebreve</string>
          <string>Ecaron</string>
          <string>Emacron</string>
          <string>Ehungarumlaut</string>
          <string>Edotaccent</string>
          <string>F</string>
          <string>G</string>
          <string>H</string>
          <string>I</string>
          <string>I.acc</string>
          <string>Igrave</string>
          <string>Iacute</string>
          <string>Icircumflex</string>
          <string>Idieresis</string>
          <string>Itilde</string>
          <string>Ibreve</string>
          <string>Imacron</string>
          <string>Idotaccent</string>
          <string>J</string>
          <string>K</string>
          <string>L</string>
          <string>Lslash</string>
          <string>M</string>
          <string>N</string>
          <string>Nacute</string>
          <string>Ntilde</string>
          <string>Ncaron</string>
          <string>O</string>
          <string>Ograve</string>
          <string>Oacute</string>
          <string>Ocircumflex</string>
          <string>Otilde</string>
          <string>Odieresis</string>
          <string>Obreve</string>
          <string>Omacron</string>
          <string>Ohungarumlaut</string>
          <string>P</string>
          <string>Q</string>
          <string>R</string>
          <string>S</string>
          <string>Sacute</string>
          <string>Scircumflex</string>
          <string>Scaron</string>
          <string>T</string>
          <string>U</string>
          <string>Ugrave</string>
          <string>Uacute</string>
          <string>Ucircumflex</string>
          <string>Udieresis</string>
          <string>Utilde</string>
          <string>Ubreve</string>
          <string>Umacron</string>
          <string>Uring</string>
          <string>Uhungarumlaut</string>
          <string>V</string>
          <string>W</string>
          <string>X</string>
          <string>Y</string>
          <string>Yacute</string>
          <string>Ycircumflex</string>
          <string>Ydieresis</string>
          <string>Ygrave</string>
          <string>Z</string>
          <string>Zacute</string>
          <string>Zcaron</string>
          <string>Zdotaccent</string>
          <string>AE</string>
          <string>OE</string>
          <string>Eth</string>
          <string>Oslash</string>
          <string>Thorn</string>
          <string>IJ</string>
          <string>LC</string>
          <string>a</string>
          <string>agrave</string>
          <string>aacute</string>
          <string>acircumflex</string>
          <string>atilde</string>
          <string>adieresis</string>
          <string>abreve</string>
          <string>amacron</string>
          <string>aring</string>
          <string>b</string>
          <string>c</string>
          <string>cacute</string>
          <string>ccircumflex</string>
          <string>ccedilla</string>
          <string>ccaron</string>
          <string>cdotaccent</string>
          <string>d</string>
          <string>e</string>
          <string>egrave</string>
          <string>eacute</string>
          <string>ecircumflex</string>
          <string>edieresis</string>
          <string>ebreve</string>
          <string>ecaron</string>
          <string>emacron</string>
          <string>ehungarumlaut</string>
          <string>edotaccent</string>
          <string>f</string>
          <string>g</string>
          <string>h</string>
          <string>i</string>
          <string>dotlessi</string>
          <string>igrave</string>
          <string>iacute</string>
          <string>icircumflex</string>
          <string>idieresis</string>
          <string>itilde</string>
          <string>ibreve</string>
          <string>imacron</string>
          <string>j</string>
          <string>dotlessj</string>
          <string>k</string>
          <string>l</string>
          <string>lslash</string>
          <string>m</string>
          <string>n</string>
          <string>nacute</string>
          <string>ntilde</string>
          <string>ncaron</string>
          <string>o</string>
          <string>ograve</string>
          <string>oacute</string>
          <string>ocircumflex</string>
          <string>otilde</string>
          <string>odieresis</string>
          <string>obreve</string>
          <string>omacron</string>
          <string>ohungarumlaut</string>
          <string>p</string>
          <string>q</string>
          <string>r</string>
          <string>s</string>
          <string>sacute</string>
          <string>scircumflex</string>
          <string>scaron</string>
          <string>t</string>
          <string>u</string>
          <string>ugrave</string>
          <string>uacute</string>
          <string>ucircumflex</string>
          <string>udieresis</string>
          <string>utilde</string>
          <string>ubreve</string>
          <string>umacron</string>
          <string>uring</string>
          <string>uhungarumlaut</string>
          <string>v</string>
          <string>w</string>
          <string>x</string>
          <string>y</string>
          <string>yacute</string>
          <string>ydieresis</string>
          <string>ycircumflex</string>
          <string>ygrave</string>
          <string>z</string>
          <string>zacute</string>
          <string>zcaron</string>
          <string>zdotaccent</string>
          <string>ae</string>
          <string>oe</string>
          <string>ij</string>
          <string>GREEK</string>
          <string>Alpha</string>
          <string>Beta</string>
          <string>Epsilon</string>
          <string>Zeta</string>
          <string>Eta</string>
          <string>Iota</string>
          <string>Kappa</string>
          <string>Mu</string>
          <string>Nu</string>
          <string>Omicron</string>
          <string>Rho</string>
          <string>Tau</string>
          <string>Upsilon</string>
          <string>Chi</string>
          <string>Iotadieresis</string>
          <string>Upsilondieresis</string>
          <string>eta</string>
          <string>omicron</string>
          <string>tau</string>
          <string>iota</string>
          <string>kappa</string>
          <string>rho</string>
          <string>uni03BC</string>
          <string>Gamma</string>
          <string>Lambda</string>
          <string>uni0394</string>
          <string>Theta</string>
          <string>Pi</string>
          <string>Xi</string>
          <string>Phi</string>
          <string>nu</string>
          <string>iotadieresis</string>
          <string>gamma</string>
          <string>uni037E</string>
          <string>tonos</string>
          <string>omicrontonos</string>
          <string>etatonos</string>
          <string>uni0344</string>
          <string>iotadieresistonos</string>
          <string>dieresistonos</string>
          <string>iotatonos</string>
          <string>mu</string>
          <string>anoteleia</string>
          <string>Iotatonos</string>
          <string>Alphatonos</string>
          <string>Epsilontonos</string>
          <string>Etatonos</string>
          <string>Omicrontonos</string>
          <string>Upsilontonos</string>
          <string>Psi</string>
          <string>uni03A9</string>
          <string>pi</string>
          <string>Omegatonos</string>
          <string>Sigma</string>
          <string>alpha</string>
          <string>alphatonos</string>
          <string>upsilon</string>
          <string>upsilontonos</string>
          <string>upsilondieresis</string>
          <string>theta</string>
          <string>upsilondieresistonos</string>
          <string>lambda</string>
          <string>sigma</string>
          <string>delta</string>
          <string>Delta</string>
          <string>Omega</string>
          <string>chi</string>
          <string>psi</string>
          <string>omega</string>
          <string>omegatonos</string>
          <string>epsilon</string>
          <string>epsilontonos</string>
          <string>phi</string>
          <string>beta</string>
          <string>sigma1</string>
          <string>zeta</string>
          <string>xi</string>
          <string>Omega.ver.001</string>
          <string>delta.ss04</string>
          <string>xi.ss04</string>
          <string>zeta.ss04</string>
          <string>FIG</string>
          <string>dollar</string>
          <string>cent</string>
          <string>currency</string>
          <string>yen</string>
          <string>Euro</string>
          <string>zero</string>
          <string>one</string>
          <string>two</string>
          <string>three</string>
          <string>four</string>
          <string>five</string>
          <string>six</string>
          <string>seven</string>
          <string>eight</string>
          <string>nine</string>
          <string>PUNC</string>
          <string>underscore</string>
          <string>hyphen</string>
          <string>endash</string>
          <string>emdash</string>
          <string>parenleft</string>
          <string>parenright</string>
          <string>bracketleft</string>
          <string>bracketright</string>
          <string>braceleft</string>
          <string>braceright</string>
          <string>quotesinglbase</string>
          <string>quotedblbase</string>
          <string>quoteleft</string>
          <string>quotedblleft</string>
          <string>quoteright</string>
          <string>quotedblright</string>
          <string>guilsinglleft</string>
          <string>guilsinglright</string>
          <string>quotesingle</string>
          <string>quotedbl</string>
          <string>guillemotleft</string>
          <string>guillemotright</string>
          <string>numbersign</string>
          <string>percent</string>
          <string>ampersand</string>
          <string>asterisk</string>
          <string>comma</string>
          <string>period</string>
          <string>slash</string>
          <string>colon</string>
          <string>semicolon</string>
          <string>at</string>
          <string>backslash</string>
          <string>question</string>
          <string>questiondown</string>
          <string>exclam</string>
          <string>exclamdown</string>
          <string>periodcentered</string>
          <string>dagger</string>
          <string>daggerdbl</string>
          <string>bullet</string>
          <string>ellipsis</string>
          <string>brokenbar</string>
          <string>section</string>
          <string>copyright</string>
          <string>registered</string>
          <string>trademark</string>
          <string>ordfeminine</string>
          <string>ordmasculine</string>
          <string>degree</string>
          <string>paragraph</string>
          <string>ACC</string>
          <string>asciicircum</string>
          <string>grave</string>
          <string>macron</string>
          <string>acute</string>
          <string>circumflex</string>
          <string>caron</string>
          <string>cedilla</string>
          <string>breve</string>
          <string>dotaccent</string>
          <string>ring</string>
          <string>ogonek</string>
          <string>tilde</string>
          <string>hungarumlaut</string>
          <string>dieresis</string>
          <string>LIG</string>
          <string>Fam_ligne</string>
          <string>FAM</string>
          <string>VTF</string>
          <string>WWW</string>
          <string>ALT</string>
          <string>A.2</string>
          <string>o.2</string>
          <string>V.2</string>
          <string>ORN</string>
          <string>uniA66E</string>
          <string>uni0489</string>
          <string>uni0488</string>
          <string>uniA69A</string>
          <string>uniA672</string>
          <string>checkbox</string>
          <string>shadowblackcircle</string>
          <string>triangleupwhite</string>
          <string>dngb:starcentreblackwhite</string>
          <string>bullet.006</string>
          <string>circlewhite</string>
          <string>petitarc</string>
          <string>gmtr:diamondblack</string>
          <string>fisheye</string>
          <string>melange</string>
          <string>petitecroix</string>
          <string>centreddotwhitediamond</string>
          <string>dngb:starofdavid</string>
          <string>dngb:starpinwheel</string>
          <string>triangleupblack</string>
          <string>dngb:starpointedwhitefour</string>
          <string>dngb:asteriskballoonfour</string>
          <string>dngb:starpointedblackfour</string>
          <string>starwhite</string>
          <string>dngb:asteriskclubfour</string>
          <string>dngb:arrowheadrightthreeDtoplight</string>
          <string>circlehalfleftblack</string>
          <string>uni2190.alt4</string>
          <string>uni2190.alt3</string>
          <string>starblack</string>
          <string>sunrayswhite</string>
          <string>squareblack</string>
          <string>europe13</string>
          <string>europe</string>
        </array>
        <key>type</key>
        <string>glyphList</string>
      </dict>
    </array>
    <key>com.typesupply.metricsMachine4.groupColors</key>
    <dict>
      <key>public.kern1.punc_hi</key>
      <array>
        <real>1.0</real>
        <real>1.0</real>
        <real>0.0</real>
        <real>0.25</real>
      </array>
      <key>public.kern2.punc_hi</key>
      <array>
        <real>1.0</real>
        <real>0.0</real>
        <real>1.0</real>
        <real>0.25</real>
      </array>
    </dict>
    <key>org.unifiedfontobject.normalizer.modTimes</key>
    <string>version: 0.3.7.dev0
1580728862.0 fontinfo.plist
1580728861.2 glyphs/A_.2.glif
1580728861.2 glyphs/A_.glif
1580728861.2 glyphs/A_E_.glif
1580728861.2 glyphs/A_acute.glif
1580728861.2 glyphs/A_breve.glif
1580728861.2 glyphs/A_circumflex.glif
1580728861.2 glyphs/A_dieresis.glif
1580728861.2 glyphs/A_grave.glif
1580728861.2 glyphs/A_lpha.glif
1580728861.2 glyphs/A_lphatonos.glif
1580728861.2 glyphs/A_macron.glif
1580728861.2 glyphs/A_ring.glif
1580728861.2 glyphs/A_tilde.glif
1580728861.2 glyphs/B_.glif
1580728861.2 glyphs/B_eta.glif
1580728861.2 glyphs/C_.glif
1580728861.2 glyphs/C_acute.glif
1580728861.2 glyphs/C_caron.glif
1580728861.3 glyphs/C_cedilla.glif
1580728861.3 glyphs/C_circumflex.glif
1580728861.3 glyphs/C_dotaccent.glif
1580728861.3 glyphs/C_hi.glif
1580728861.3 glyphs/D_.glif
1580728861.3 glyphs/D_elta.glif
1580728861.3 glyphs/E_.glif
1580728861.3 glyphs/E_acute.glif
1580728861.3 glyphs/E_breve.glif
1580728861.3 glyphs/E_caron.glif
1580728861.3 glyphs/E_circumflex.glif
1580728861.3 glyphs/E_dieresis.glif
1580728861.3 glyphs/E_dotaccent.glif
1580728861.3 glyphs/E_grave.glif
1580728861.3 glyphs/E_macron.glif
1580728861.3 glyphs/E_psilon.glif
1580728861.3 glyphs/E_psilontonos.glif
1580728861.3 glyphs/E_ta.glif
1580728861.3 glyphs/E_tatonos.glif
1580728861.3 glyphs/E_th.glif
1580728861.3 glyphs/E_uro.glif
1580728861.3 glyphs/F_.glif
1580728861.3 glyphs/F_A_M_.glif
1580728861.3 glyphs/F_am_ligne.glif
1580728861.3 glyphs/G_.glif
1580728861.3 glyphs/G_amma.glif
1580728861.3 glyphs/H_.glif
1580728861.3 glyphs/I_.acc.glif
1580728861.3 glyphs/I_.glif
1580728861.3 glyphs/I_acute.glif
1580728861.3 glyphs/I_breve.glif
1580728861.3 glyphs/I_circumflex.glif
1580728861.3 glyphs/I_dieresis.glif
1580728861.3 glyphs/I_dotaccent.glif
1580728861.3 glyphs/I_grave.glif
1580728861.3 glyphs/I_macron.glif
1580728861.3 glyphs/I_ota.glif
1580728861.3 glyphs/I_otadieresis.glif
1580728861.3 glyphs/I_otatonos.glif
1580728861.3 glyphs/I_tilde.glif
1580728861.3 glyphs/J_.glif
1580728861.3 glyphs/K_.glif
1580728861.3 glyphs/K_appa.glif
1580728861.3 glyphs/L_.glif
1580728861.3 glyphs/L_ambda.glif
1580728861.3 glyphs/L_slash.glif
1580728861.3 glyphs/M_.glif
1580728861.3 glyphs/M_u.glif
1580728861.4 glyphs/N_.glif
1580728861.4 glyphs/N_acute.glif
1580728861.4 glyphs/N_caron.glif
1580728861.4 glyphs/N_tilde.glif
1580728861.4 glyphs/N_u.glif
1580728861.4 glyphs/O_.glif
1580728861.4 glyphs/O_E_.glif
1580728861.4 glyphs/O_acute.glif
1580728861.4 glyphs/O_breve.glif
1580728861.4 glyphs/O_circumflex.glif
1580728861.4 glyphs/O_dieresis.glif
1580728861.4 glyphs/O_grave.glif
1580728861.4 glyphs/O_hungarumlaut.glif
1580728861.4 glyphs/O_macron.glif
1580728861.4 glyphs/O_mega.glif
1580728861.4 glyphs/O_mega.ver.001.glif
1580728861.4 glyphs/O_megatonos.glif
1580728861.4 glyphs/O_micron.glif
1580728861.4 glyphs/O_microntonos.glif
1580728861.4 glyphs/O_slash.glif
1580728861.4 glyphs/O_tilde.glif
1580728861.4 glyphs/P_.glif
1580728861.4 glyphs/P_hi.glif
1580728861.4 glyphs/P_i.glif
1580728861.4 glyphs/P_si.glif
1580728861.4 glyphs/Q_.glif
1580728861.4 glyphs/R_.glif
1580728861.4 glyphs/R_ho.glif
1580728861.4 glyphs/S_.glif
1580728861.4 glyphs/S_acute.glif
1580728861.4 glyphs/S_caron.glif
1580728861.4 glyphs/S_circumflex.glif
1580728861.4 glyphs/S_igma.glif
1580728861.4 glyphs/T_.glif
1580728861.4 glyphs/T_au.glif
1580728861.4 glyphs/T_heta.glif
1580728861.4 glyphs/U_.glif
1580728861.4 glyphs/U_acute.glif
1580728861.4 glyphs/U_breve.glif
1580728861.4 glyphs/U_circumflex.glif
1580728861.4 glyphs/U_dieresis.glif
1580728861.4 glyphs/U_grave.glif
1580728861.4 glyphs/U_hungarumlaut.glif
1580728861.4 glyphs/U_macron.glif
1580728861.4 glyphs/U_psilon.glif
1580728861.4 glyphs/U_psilondieresis.glif
1580728861.4 glyphs/U_psilontonos.glif
1580728861.4 glyphs/U_ring.glif
1580728861.4 glyphs/U_tilde.glif
1580728861.4 glyphs/V_.2.glif
1580728861.4 glyphs/V_.glif
1580728861.4 glyphs/V_T_F_.glif
1580728861.4 glyphs/W_.glif
1580728861.4 glyphs/W_W_W_.glif
1580728861.5 glyphs/X_.glif
1580728861.5 glyphs/X_i.glif
1580728861.5 glyphs/Y_.glif
1580728861.5 glyphs/Y_acute.glif
1580728861.5 glyphs/Y_circumflex.glif
1580728861.5 glyphs/Y_dieresis.glif
1580728861.5 glyphs/Y_grave.glif
1580728861.5 glyphs/Z_.glif
1580728861.5 glyphs/Z_acute.glif
1580728861.5 glyphs/Z_caron.glif
1580728861.5 glyphs/Z_dotaccent.glif
1580728861.5 glyphs/Z_eta.glif
1580728861.5 glyphs/_notdef.glif
1580728861.5 glyphs/a.glif
1580728861.5 glyphs/aacute.glif
1580728861.5 glyphs/abreve.glif
1580728861.5 glyphs/acircumflex.glif
1580728861.5 glyphs/acute.glif
1580728861.5 glyphs/adieresis.glif
1580728861.5 glyphs/ae.glif
1580728861.5 glyphs/agrave.glif
1580728861.5 glyphs/alpha.glif
1580728861.5 glyphs/alphatonos.glif
1580728861.5 glyphs/amacron.glif
1580728861.5 glyphs/ampersand.glif
1580728861.5 glyphs/anoteleia.glif
1580728861.5 glyphs/aring.glif
1580728861.5 glyphs/asterisk.glif
1580728861.5 glyphs/at.glif
1580728861.5 glyphs/atilde.glif
1580728861.5 glyphs/b.glif
1580728861.5 glyphs/backslash.glif
1580728861.5 glyphs/beta.glif
1580728861.5 glyphs/braceleft.glif
1580728861.5 glyphs/braceright.glif
1580728861.5 glyphs/bracketleft.glif
1580728861.5 glyphs/bracketright.glif
1580728861.5 glyphs/breve.glif
1580728861.6 glyphs/bullet.006.glif
1580728861.6 glyphs/bullet.glif
1580728861.6 glyphs/c.glif
1580728861.6 glyphs/cacute.glif
1580728861.6 glyphs/caron.glif
1580728861.6 glyphs/ccaron.glif
1580728861.6 glyphs/ccedilla.glif
1580728861.6 glyphs/ccircumflex.glif
1580728861.6 glyphs/cdotaccent.glif
1580728861.6 glyphs/cedilla.glif
1580728861.6 glyphs/centreddotwhitediamond.glif
1580728861.6 glyphs/checkbox.glif
1580728861.6 glyphs/chi.glif
1580728861.6 glyphs/circlehalfleftblack.glif
1580728861.6 glyphs/circlewhite.glif
1580728861.6 glyphs/circumflex.glif
1580728861.6 glyphs/colon.glif
1580728861.6 glyphs/comma.glif
1580728861.6 glyphs/d.glif
1580728861.6 glyphs/degree.glif
1580728861.6 glyphs/delta.glif
1580728861.6 glyphs/delta.ss04.glif
1580728861.6 glyphs/dieresis.glif
1580728861.6 glyphs/dieresistonos.glif
1580728861.6 glyphs/dngb_arrowheadrightthreeD_toplight.glif
1580728861.6 glyphs/dngb_asteriskballoonfour.glif
1580728861.6 glyphs/dngb_asteriskclubfour.glif
1580728861.6 glyphs/dngb_starcentreblackwhite.glif
1580728861.6 glyphs/dngb_starofdavid.glif
1580728861.6 glyphs/dngb_starpinwheel.glif
1580728861.6 glyphs/dngb_starpointedblackfour.glif
1580728861.6 glyphs/dngb_starpointedwhitefour.glif
1580728861.6 glyphs/dollar.glif
1580728861.6 glyphs/dotaccent.glif
1580728861.6 glyphs/dotlessi.glif
1580728861.6 glyphs/dotlessj.glif
1580728861.6 glyphs/e.glif
1580728861.6 glyphs/eacute.glif
1580728861.6 glyphs/ebreve.glif
1580728861.6 glyphs/ecaron.glif
1580728861.6 glyphs/ecircumflex.glif
1580728861.6 glyphs/edieresis.glif
1580728861.6 glyphs/edotaccent.glif
1580728861.6 glyphs/egrave.glif
1580728861.6 glyphs/eight.glif
1580728861.6 glyphs/ellipsis.glif
1580728861.6 glyphs/emacron.glif
1580728861.6 glyphs/emdash.glif
1580728861.6 glyphs/endash.glif
1580728861.6 glyphs/epsilon.glif
1580728861.6 glyphs/epsilontonos.glif
1580728861.6 glyphs/eta.glif
1580728861.6 glyphs/etatonos.glif
1580728861.6 glyphs/europe.glif
1580728861.6 glyphs/europe13.glif
1580728861.7 glyphs/exclam.glif
1580728861.7 glyphs/exclamdown.glif
1580728861.7 glyphs/f.glif
1580728861.7 glyphs/fisheye.glif
1580728861.7 glyphs/five.glif
1580728861.7 glyphs/four.glif
1580728861.7 glyphs/g.glif
1580728861.7 glyphs/gamma.glif
1580728861.7 glyphs/gmtr_diamondblack.glif
1580728861.7 glyphs/grave.glif
1580728861.7 glyphs/guillemotleft.glif
1580728861.7 glyphs/guillemotright.glif
1580728861.7 glyphs/guilsinglleft.glif
1580728861.7 glyphs/guilsinglright.glif
1580728861.7 glyphs/h.glif
1580728861.7 glyphs/hungarumlaut.glif
1580728861.7 glyphs/hyphen.glif
1580728861.7 glyphs/i.glif
1580728861.7 glyphs/iacute.glif
1580728861.7 glyphs/ibreve.glif
1580728861.7 glyphs/icircumflex.glif
1580728861.7 glyphs/idieresis.glif
1580728861.7 glyphs/igrave.glif
1580728861.7 glyphs/imacron.glif
1580728861.7 glyphs/iota.glif
1580728861.7 glyphs/iotadieresis.glif
1580728861.7 glyphs/iotadieresistonos.glif
1580728861.7 glyphs/iotatonos.glif
1580728861.7 glyphs/itilde.glif
1580728861.7 glyphs/j.glif
1580728861.7 glyphs/k.glif
1580728861.7 glyphs/kappa.glif
1580728861.7 glyphs/l.glif
1580728861.7 glyphs/lambda.glif
1580728861.7 glyphs/lslash.glif
1580728861.7 glyphs/m.glif
1580728861.7 glyphs/macron.glif
1580728861.7 glyphs/melange.glif
1580728861.8 glyphs/mu.glif
1580728861.8 glyphs/n.glif
1580728861.8 glyphs/nacute.glif
1580728861.8 glyphs/ncaron.glif
1580728861.8 glyphs/nine.glif
1580728861.8 glyphs/ntilde.glif
1580728861.8 glyphs/nu.glif
1580728861.8 glyphs/numbersign.glif
1580728861.8 glyphs/o.2.glif
1580728861.8 glyphs/o.glif
1580728861.8 glyphs/oacute.glif
1580728861.8 glyphs/obreve.glif
1580728861.8 glyphs/ocircumflex.glif
1580728861.8 glyphs/odieresis.glif
1580728861.8 glyphs/oe.glif
1580728861.8 glyphs/ograve.glif
1580728861.8 glyphs/ohungarumlaut.glif
1580728861.8 glyphs/omacron.glif
1580728861.8 glyphs/omega.glif
1580728861.8 glyphs/omegatonos.glif
1580728861.8 glyphs/omicron.glif
1580728861.8 glyphs/omicrontonos.glif
1580728861.8 glyphs/one.glif
1580728861.8 glyphs/otilde.glif
1580728861.8 glyphs/p.glif
1580728861.8 glyphs/parenleft.glif
1580728861.8 glyphs/parenright.glif
1580728861.8 glyphs/percent.glif
1580728861.8 glyphs/period.glif
1580728861.8 glyphs/periodcentered.glif
1580728861.8 glyphs/petitarc.glif
1580728861.8 glyphs/petitecroix.glif
1580728861.8 glyphs/phi.glif
1580728861.8 glyphs/pi.glif
1580728861.8 glyphs/psi.glif
1580728861.8 glyphs/q.glif
1580728861.8 glyphs/question.glif
1580728861.8 glyphs/questiondown.glif
1580728861.8 glyphs/quotedbl.glif
1580728861.8 glyphs/quotedblbase.glif
1580728861.8 glyphs/quotedblleft.glif
1580728861.8 glyphs/quotedblright.glif
1580728861.8 glyphs/quoteleft.glif
1580728861.8 glyphs/quoteright.glif
1580728861.8 glyphs/quotesinglbase.glif
1580728861.8 glyphs/quotesingle.glif
1580728861.8 glyphs/r.glif
1580728861.8 glyphs/rho.glif
1580728861.8 glyphs/ring.glif
1580728861.8 glyphs/s.glif
1580728861.8 glyphs/sacute.glif
1580728861.8 glyphs/scaron.glif
1580728861.8 glyphs/scircumflex.glif
1580728861.9 glyphs/section.glif
1580728861.9 glyphs/semicolon.glif
1580728861.9 glyphs/seven.glif
1580728861.9 glyphs/shadowblackcircle.glif
1580728861.9 glyphs/sigma.glif
1580728861.9 glyphs/sigma1.glif
1580728861.9 glyphs/six.glif
1580728861.9 glyphs/slash.glif
1580728861.9 glyphs/space.glif
1580728861.9 glyphs/squareblack.glif
1580728861.9 glyphs/starblack.glif
1580728861.9 glyphs/starwhite.glif
1580728861.9 glyphs/sunrayswhite.glif
1580728861.9 glyphs/t.glif
1580728861.9 glyphs/tau.glif
1580728861.9 glyphs/theta.glif
1580728861.9 glyphs/thinspace.glif
1580728861.9 glyphs/three.glif
1580728861.9 glyphs/tilde.glif
1580728861.9 glyphs/tonos.glif
1580728861.9 glyphs/triangleupblack.glif
1580728861.9 glyphs/triangleupwhite.glif
1580728861.9 glyphs/two.glif
1580728861.9 glyphs/u.glif
1580728861.9 glyphs/uacute.glif
1580728861.9 glyphs/ubreve.glif
1580728861.9 glyphs/ucircumflex.glif
1580728861.9 glyphs/udieresis.glif
1580728861.9 glyphs/ugrave.glif
1580728861.9 glyphs/uhungarumlaut.glif
1580728861.9 glyphs/umacron.glif
1580728861.9 glyphs/underscore.glif
1580728861.9 glyphs/uni0344.glif
1580728861.9 glyphs/uni037E_.glif
1580728861.9 glyphs/uni0394.glif
1580728861.9 glyphs/uni03A_9.glif
1580728861.9 glyphs/uni03B_C_.glif
1580728861.9 glyphs/uni0488.glif
1580728861.9 glyphs/uni0489.glif
1580728861.9 glyphs/uni2190.alt3.glif
1580728861.9 glyphs/uni2190.alt4.glif
1580728861.9 glyphs/uniA_66E_.glif
1580728861.9 glyphs/uniA_672.glif
1580728862.0 glyphs/uniA_69A_.glif
1580728862.0 glyphs/upsilon.glif
1580728862.0 glyphs/upsilondieresis.glif
1580728862.0 glyphs/upsilondieresistonos.glif
1580728862.0 glyphs/upsilontonos.glif
1580728862.0 glyphs/uring.glif
1580728862.0 glyphs/utilde.glif
1580728862.0 glyphs/v.glif
1580728862.0 glyphs/w.glif
1580728862.0 glyphs/x.glif
1580728862.0 glyphs/xi.glif
1580728862.0 glyphs/xi.ss04.glif
1580728862.0 glyphs/y.glif
1580728862.0 glyphs/yacute.glif
1580728862.0 glyphs/ycircumflex.glif
1580728862.0 glyphs/ydieresis.glif
1580728862.0 glyphs/ygrave.glif
1580728862.0 glyphs/z.glif
1580728862.0 glyphs/zacute.glif
1580728862.0 glyphs/zcaron.glif
1580728862.0 glyphs/zdotaccent.glif
1580728862.0 glyphs/zero.glif
1580728862.0 glyphs/zeta.glif
1580728862.0 glyphs/zeta.ss04.glif
1580728862.0 groups.plist
1580728862.0 kerning.plist
1580728862.0 metainfo.plist</string>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>.null</string>
      <string>CR</string>
      <string>thinspace</string>
      <string>space</string>
      <string>UC</string>
      <string>A</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Adieresis</string>
      <string>Abreve</string>
      <string>Amacron</string>
      <string>Aring</string>
      <string>B</string>
      <string>C</string>
      <string>Cacute</string>
      <string>Ccircumflex</string>
      <string>Ccedilla</string>
      <string>Ccaron</string>
      <string>Cdotaccent</string>
      <string>D</string>
      <string>E</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Ebreve</string>
      <string>Ecaron</string>
      <string>Emacron</string>
      <string>Ehungarumlaut</string>
      <string>Edotaccent</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>I.acc</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Itilde</string>
      <string>Ibreve</string>
      <string>Imacron</string>
      <string>Idotaccent</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>Lslash</string>
      <string>M</string>
      <string>N</string>
      <string>Nacute</string>
      <string>Ntilde</string>
      <string>Ncaron</string>
      <string>O</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>Obreve</string>
      <string>Omacron</string>
      <string>Ohungarumlaut</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>Sacute</string>
      <string>Scircumflex</string>
      <string>Scaron</string>
      <string>T</string>
      <string>U</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Utilde</string>
      <string>Ubreve</string>
      <string>Umacron</string>
      <string>Uring</string>
      <string>Uhungarumlaut</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>Ygrave</string>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zcaron</string>
      <string>Zdotaccent</string>
      <string>AE</string>
      <string>OE</string>
      <string>Eth</string>
      <string>Oslash</string>
      <string>Thorn</string>
      <string>IJ</string>
      <string>LC</string>
      <string>a</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>abreve</string>
      <string>amacron</string>
      <string>aring</string>
      <string>b</string>
      <string>c</string>
      <string>cacute</string>
      <string>ccircumflex</string>
      <string>ccedilla</string>
      <string>ccaron</string>
      <string>cdotaccent</string>
      <string>d</string>
      <string>e</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>ebreve</string>
      <string>ecaron</string>
      <string>emacron</string>
      <string>ehungarumlaut</string>
      <string>edotaccent</string>
      <string>f</string>
      <string>g</string>
      <string>h</string>
      <string>i</string>
      <string>dotlessi</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>itilde</string>
      <string>ibreve</string>
      <string>imacron</string>
      <string>j</string>
      <string>dotlessj</string>
      <string>k</string>
      <string>l</string>
      <string>lslash</string>
      <string>m</string>
      <string>n</string>
      <string>nacute</string>
      <string>ntilde</string>
      <string>ncaron</string>
      <string>o</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>obreve</string>
      <string>omacron</string>
      <string>ohungarumlaut</string>
      <string>p</string>
      <string>q</string>
      <string>r</string>
      <string>s</string>
      <string>sacute</string>
      <string>scircumflex</string>
      <string>scaron</string>
      <string>t</string>
      <string>u</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>utilde</string>
      <string>ubreve</string>
      <string>umacron</string>
      <string>uring</string>
      <string>uhungarumlaut</string>
      <string>v</string>
      <string>w</string>
      <string>x</string>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
      <string>ycircumflex</string>
      <string>ygrave</string>
      <string>z</string>
      <string>zacute</string>
      <string>zcaron</string>
      <string>zdotaccent</string>
      <string>ae</string>
      <string>oe</string>
      <string>ij</string>
      <string>GREEK</string>
      <string>Alpha</string>
      <string>Beta</string>
      <string>Epsilon</string>
      <string>Zeta</string>
      <string>Eta</string>
      <string>Iota</string>
      <string>Kappa</string>
      <string>Mu</string>
      <string>Nu</string>
      <string>Omicron</string>
      <string>Rho</string>
      <string>Tau</string>
      <string>Upsilon</string>
      <string>Chi</string>
      <string>Iotadieresis</string>
      <string>Upsilondieresis</string>
      <string>eta</string>
      <string>omicron</string>
      <string>tau</string>
      <string>iota</string>
      <string>kappa</string>
      <string>rho</string>
      <string>uni03BC</string>
      <string>Gamma</string>
      <string>Lambda</string>
      <string>uni0394</string>
      <string>Theta</string>
      <string>Pi</string>
      <string>Xi</string>
      <string>Phi</string>
      <string>nu</string>
      <string>iotadieresis</string>
      <string>gamma</string>
      <string>uni037E</string>
      <string>tonos</string>
      <string>omicrontonos</string>
      <string>etatonos</string>
      <string>uni0344</string>
      <string>iotadieresistonos</string>
      <string>dieresistonos</string>
      <string>iotatonos</string>
      <string>mu</string>
      <string>anoteleia</string>
      <string>Iotatonos</string>
      <string>Alphatonos</string>
      <string>Epsilontonos</string>
      <string>Etatonos</string>
      <string>Omicrontonos</string>
      <string>Upsilontonos</string>
      <string>Psi</string>
      <string>uni03A9</string>
      <string>pi</string>
      <string>Omegatonos</string>
      <string>Sigma</string>
      <string>alpha</string>
      <string>alphatonos</string>
      <string>upsilon</string>
      <string>upsilontonos</string>
      <string>upsilondieresis</string>
      <string>theta</string>
      <string>upsilondieresistonos</string>
      <string>lambda</string>
      <string>sigma</string>
      <string>delta</string>
      <string>Delta</string>
      <string>Omega</string>
      <string>chi</string>
      <string>psi</string>
      <string>omega</string>
      <string>omegatonos</string>
      <string>epsilon</string>
      <string>epsilontonos</string>
      <string>phi</string>
      <string>beta</string>
      <string>sigma1</string>
      <string>zeta</string>
      <string>xi</string>
      <string>Omega.ver.001</string>
      <string>delta.ss04</string>
      <string>xi.ss04</string>
      <string>zeta.ss04</string>
      <string>FIG</string>
      <string>dollar</string>
      <string>cent</string>
      <string>currency</string>
      <string>yen</string>
      <string>Euro</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>PUNC</string>
      <string>underscore</string>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>bracketleft</string>
      <string>bracketright</string>
      <string>braceleft</string>
      <string>braceright</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>quoteleft</string>
      <string>quotedblleft</string>
      <string>quoteright</string>
      <string>quotedblright</string>
      <string>guilsinglleft</string>
      <string>guilsinglright</string>
      <string>quotesingle</string>
      <string>quotedbl</string>
      <string>guillemotleft</string>
      <string>guillemotright</string>
      <string>numbersign</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>asterisk</string>
      <string>comma</string>
      <string>period</string>
      <string>slash</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>at</string>
      <string>backslash</string>
      <string>question</string>
      <string>questiondown</string>
      <string>exclam</string>
      <string>exclamdown</string>
      <string>periodcentered</string>
      <string>dagger</string>
      <string>daggerdbl</string>
      <string>bullet</string>
      <string>ellipsis</string>
      <string>brokenbar</string>
      <string>section</string>
      <string>copyright</string>
      <string>registered</string>
      <string>trademark</string>
      <string>ordfeminine</string>
      <string>ordmasculine</string>
      <string>degree</string>
      <string>paragraph</string>
      <string>ACC</string>
      <string>asciicircum</string>
      <string>grave</string>
      <string>macron</string>
      <string>acute</string>
      <string>circumflex</string>
      <string>caron</string>
      <string>cedilla</string>
      <string>breve</string>
      <string>dotaccent</string>
      <string>ring</string>
      <string>ogonek</string>
      <string>tilde</string>
      <string>hungarumlaut</string>
      <string>dieresis</string>
      <string>LIG</string>
      <string>Fam_ligne</string>
      <string>FAM</string>
      <string>VTF</string>
      <string>WWW</string>
      <string>ALT</string>
      <string>A.2</string>
      <string>o.2</string>
      <string>V.2</string>
      <string>ORN</string>
      <string>uniA66E</string>
      <string>uni0489</string>
      <string>uni0488</string>
      <string>uniA69A</string>
      <string>uniA672</string>
      <string>checkbox</string>
      <string>shadowblackcircle</string>
      <string>triangleupwhite</string>
      <string>dngb:starcentreblackwhite</string>
      <string>bullet.006</string>
      <string>circlewhite</string>
      <string>petitarc</string>
      <string>gmtr:diamondblack</string>
      <string>fisheye</string>
      <string>melange</string>
      <string>petitecroix</string>
      <string>centreddotwhitediamond</string>
      <string>dngb:starofdavid</string>
      <string>dngb:starpinwheel</string>
      <string>triangleupblack</string>
      <string>dngb:starpointedwhitefour</string>
      <string>dngb:asteriskballoonfour</string>
      <string>dngb:starpointedblackfour</string>
      <string>starwhite</string>
      <string>dngb:asteriskclubfour</string>
      <string>dngb:arrowheadrightthreeDtoplight</string>
      <string>circlehalfleftblack</string>
      <string>uni2190.alt4</string>
      <string>uni2190.alt3</string>
      <string>starblack</string>
      <string>sunrayswhite</string>
      <string>squareblack</string>
      <string>europe13</string>
      <string>europe</string>
    </array>
    <key>public.postscriptNames</key>
    <dict/>
    <key>public.skipExportGlyphs</key>
    <array/>
  </dict>
</plist>
