@font-face {
  font-family: "director-light";
  src: url(/Users/saskiabinder/repos/resume-builder/src/fonts/degheest-types-master/fonts/webfonts/Director-Light.woff2),
    url(/Users/saskiabinder/repos/resume-builder/src/fonts/degheest-types-master/fonts/webfonts/Director-Light.woff),
    url(/Users/saskiabinder/repos/resume-builder/src/fonts/degheest-types-master/fonts/ttf/Director-Light.ttf);
}

@font-face {
  font-family: "director-regular";
  src: url(/Users/saskiabinder/repos/resume-builder/src/fonts/degheest-types-master/fonts/webfonts/Director-Regular.woff2),
    url(/Users/saskiabinder/repos/resume-builder/src/fonts/degheest-types-master/fonts/webfonts/Director-Regular.woff),
    url(/Users/saskiabinder/repos/resume-builder/src/fonts/degheest-types-master/fonts/ttf/Director-Regular.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
