<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Omegatonos</key>
    <string>O_megatonos.glif</string>
    <key>Sigma</key>
    <string>S_igma.glif</string>
    <key>alpha</key>
    <string>alpha.glif</string>
    <key>circlehalfleftblack</key>
    <string>circlehalfleftblack.glif</string>
    <key>delta</key>
    <string>delta.glif</string>
    <key>delta.ss04</key>
    <string>delta.ss04.glif</string>
    <key>dngb:asteriskballoonfour</key>
    <string>dngb_asteriskballoonfour.glif</string>
    <key>dngb:asteriskclubfour</key>
    <string>dngb_asteriskclubfour.glif</string>
    <key>dngb:starcentreblackwhite</key>
    <string>dngb_starcentreblackwhite.glif</string>
    <key>dngb:starpinwheel</key>
    <string>dngb_starpinwheel.glif</string>
    <key>dngb:starpointedblackfour</key>
    <string>dngb_starpointedblackfour.glif</string>
    <key>dngb:starpointedwhitefour</key>
    <string>dngb_starpointedwhitefour.glif</string>
    <key>fisheye</key>
    <string>fisheye.glif</string>
    <key>melange</key>
    <string>melange.glif</string>
    <key>omega</key>
    <string>omega.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>sigma</key>
    <string>sigma.glif</string>
    <key>starblack</key>
    <string>starblack.glif</string>
    <key>starwhite</key>
    <string>starwhite.glif</string>
    <key>sunrayswhite</key>
    <string>sunrayswhite.glif</string>
    <key>xi</key>
    <string>xi.glif</string>
    <key>xi.ss04</key>
    <string>xi.ss04.glif</string>
    <key>zeta</key>
    <string>zeta.glif</string>
    <key>zeta.ss04</key>
    <string>zeta.ss04.glif</string>
  </dict>
</plist>
